@model FacultySelectionViewModel

@{
    ViewBag.Title = "Faculty";
}

<!DOCTYPE html>

<html>
<head>
    <title>Faculty</title>
</head>
<h1>Please select your faculty.</h1>
<body>
<div>
    <ul>
        @for (var i = 0; i < 7; i++)
        {
            <li>This is a faculty</li>
        }
    </ul>
</div>
</body>
</html>