@model GroupSelectionViewModel

@{
    ViewBag.Title = "Group";
}

<!DOCTYPE html>

<html>
<head>
    <title>Group</title>
</head>
<h1>Please select your faculty.</h1>
<body>
<div>
    <ul>
        @for (var i = 0; i < 7; i++)
        {
            <li>
                <a asp-controller="Schedule" asp-action="Schedule">This is a group.</a>
            </li>
        }
    </ul>
</div>
</body>
</html>