@model TeacherSelectionViewModel

@{
    ViewBag.Title = "Teacher";
}

<!DOCTYPE html>

<script>
function goBack() {
  window.history.back()
}
</script>
<html>
<head>
    <title>Teacher</title>
</head>
<h1>Please select a teacher.</h1>
<body>
<div>
    <ul>
        @for (var i = 0; i < 7; i++)
        {
            <li>
                <a asp-controller="Schedule" asp-action="Schedule">This is a teacher</a>
            </li>
        }
    </ul>
     <br/>
     <button onclick="goBack()">Go Back</button>
</div>
</body>
</html>