@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AND YOU ARE..?</h1>
    <a asp-controller="Selects" asp-action="FacultySelection">STUDENT</a><br/>
    <a asp-controller="Selects" asp-action="TeacherSelection">TEACHER</a><br/>
    <a asp-action="test">???</a>
</div>