@{
    ViewData["Title"] = "Schedule";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="text-center">
    <table border="1" cellpadding="10">
        <tr>
            <th></th>
            <th>8:45 - 10:20</th>
            <th>10:35 - 12:10</th>
            <th>12:25 - 14:00</th>
            <th>14:45 - 16:20</th>
            <th>16:35 - 18:10</th>
            <th>18:25 - 20:00</th>
            <th>20:15 - 21:50</th>
        </tr>
        <tr>
            <th>Monday</th>
            @for (var i = 0; i < 7; i++)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>Tuesday</th>
            @for (var i = 0; i < 7; i++)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>Wednesday</th>
            @for (var i = 0; i < 7; i++)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>Thursday</th>
            @for (var i = 0; i < 7; i++)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>Friday</th>
            @for (var i = 0; i < 7; i++)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>Saturday</th>
            @for (var i = 0; i < 7; i++)
            {
                <td></td>
            }
        </tr>
    </table>
    <br/>
    <button asp-controller="Selects" asp-action="GroupSelection">Go Back</button>
</div>
</body>
</html>